div(class="modal" id="greetings-modal")
    div(class="modal-dialog")
        div(class="modal-content")
            div(class="modal-header")
                h4(class="modal-title") Help
            div(class="modal-body")
                p How to use this site:
                p 1. Use the <strong>Search</strong> tab to search the inventory. Clicking on a part prompts you to add it to your checkout.
                p 2. Parts you have selected for check out can be managed in the <strong>Check-Outs</strong> tab 
                p 3. Clicking parts in your <strong>Unapproved Check-outs</strong> allows you to modify or remove them.
                p 4. <strong>Approved Check-outs</strong> are parts which the Electronics Club has put aside for you. Visit them to retrieve the parts.
                p 5. <strong>Parts out</strong> are parts that we have on record as you picking up.
                p 6. <strong>Previous check-outs</strong> are parts that we have recorded as you returning.
            div(class="modal-footer")
                button(id="hide-greetings-modal-button" class="m-3 btn btn-primary") Ok
