extends layout

block content
	h1= title
	p Welcome to #{title}
	div(id="successFlash" class="alert alert-success" style="display:none; z-index:500; position:fixed;")
	div(id="errorFlash" class="alert alert-danger" style="display:none; z-index:500; position:fixed;")
	if !user
		button(id="show-login" type="button" class="btn btn-primary") Login for officers
		div(class="container" style="display:none" id="login-container")
			form(id="login-form" action="/login" method="post")
				#login-row.form-row
					div(class="form-group col")
						label(for="username") Username
						input(type="text" class="form-control" id="username" name="username" placeholder="Username")
					div(class="form-group col")
						label(for="password") Password
						input(type="password" class="form-control" id="password" name="password" placeholder="Password")
				div(class="form-row")
					label(for="login")
					button(id="login" type="submit" class="btn btn-primary") Login
	if user
		div(class="form-row")
					label(for="logout")
					button(id="logout" type="button" class="btn btn-primary") Logout
	ul(class="nav nav-tabs justify-content-center" id="top-nav")
		li(class="nav-item")
			a(class="nav-link active" href="#" id='search-tab') Search
		li(class="nav-item")
			a(class="nav-link" href="#" id="check-out-tab") Check-outs
	#search-container.container
		if user
			div(class="modal fade" id="modify-delete-modal" value="")
				div(id="storePart" value="" style="display:none")
				div(class="modal-dialog")
					div(class="modal-content")
						#part-options
							div(class="modal-header")
								h4(class="modal-title") What do you want to do with this part?
								button(type="button" class="close" data-dismiss="modal")
							div(class="modal-body")
								button(type="button" id="modify-button" class="btn btn-primary") Modify
								button(type="button" id="delete-button" class="btn btn-danger") Delete
						form(id="modify-form" class='m-3' style="display:none")
							#input-row.form-row
								div(class="form-group col")
									label(for="category") Category
									input(type="text" id="mod-cat" name="cat" class="form-control" placeholder="Category" data-toggle="tooltip" data-placement="top" title="Consumable/IC/MC    Equipment/Sensor/Display  Office Supplies/Other")
								div(class="form-group col")
									label(for="partName") Part Name
									input(type="text" id="mod-partName" name="partName" class="form-control" placeholder="Partname")
								div(class="form-group col")
									label(for="inputQuantity") Sub-Category
									input(type="text" id="mod-subCat" name="subCat" class="form-control" placeholder="Sub-category")
								div(class="form-group col")
									label(for="value") Value
									input(type="text" id="mod-val" name="val" class="form-control" placeholder="Value")
							#input-row.form-row
								div(class="form-group col")
									label(for="inputQuantity") Part Number
									input(type="text" id="mod-partNum" name="partNum" class="form-control" placeholder="Part Number")
								div(class="form-group col")
									label(for="inputQuantity") Location
									input(type="text" id="mod-loc" class="form-control" name="loc" placeholder="Location")
								div(class="form-group col")
									label(for="qty") Quantity
									input(type="text" id="mod-qty" class="form-control" name="qty" placeholder="Quantity")
							div(class="form-row")
								div(class="form-group col")
									label(for="qty") Notes:
									textarea(class="form-control" id="mod-notes" rows="5" name="notes")
							div(class="form-row")
								label(for="inputQuantity")
								button(id="modifyPart" type="button" class="m-3 btn btn-primary") Save
			form(id="add-form")
				#input-row.form-row
					div(class="form-group col")
						label(for="partName") Part Name
						input(type="text" name="partName" class='add-form-input' class="form-control" placeholder="Partname")
					div(class="form-group col")
						label(for="category") Category
						input(type="text" name="cat" class='add-form-input' class="form-control" placeholder="Category" data-toggle="tooltip" data-placement="top" title="Consumable/IC/MC    Equipment/Sensor/Display  Office Supplies/Other")
					div(class="form-group col")
						label(for="inputQuantity") Sub-Category
						input(type="text" name="subCat" class='add-form-input' class="form-control" placeholder="Sub-category")
					div(class="form-group col")
						label(for="value") Value
						input(type="text" name="val" class='add-form-input' class="form-control" placeholder="Value")
				#input-row.form-row
					div(class="form-group col")
						label(for="inputQuantity") Part Number
						input(type="text" name="partNum" class='add-form-input' class="form-control" placeholder="Part Number")
					div(class="form-group col")
						label(for="inputQuantity") Location
						input(type="text" class="form-control" class='add-form-input' name="loc" placeholder="Location")
					div(class="form-group col")
						label(for="qty") Quantity
						input(type="text" class="form-control" name="qty" placeholder="Quantity")
				div(class="form-row")
					div(class="form-group col")
						label(for="qty") Notes:
						textarea(class="form-control" rows="5" id="comment" name="notes")
				div(class="form-row")
					label(for="inputQuantity")
					button(id="addPart" type="button" class="m-3 btn btn-primary") Add
					label(for="clearAddPart")
					button(id="clearAddPart" type="button" class="m-3 btn btn-info") Clear/Get All
		if !user
			#search-form-container.container.mt-3
				form(id="search-form" class="mb-3")
					#input-row.form-row
						div(class="form-group col")
							label(for="partName") Part Name
							input(type="text" name="partName" class="form-control no-login-input" placeholder="Partname")
						div(class="form-group col")
							label(for="category") Category
							input(type="text" name="cat" class="form-control no-login-input" placeholder="Category" data-toggle="tooltip" data-placement="top" title="Consumable/IC/MC    Equipment/Sensor/Display  Office Supplies/Other")
						div(class="form-group col")
							label(for="inputQuantity") Sub-Category
							input(type="text" name="subCat" class="form-control no-login-input" placeholder="Sub-category")
						div(class="form-group col")
							label(for="value") Value
							input(type="text" name="val" class="form-control no-login-input" placeholder="Value")
					#input-row.form-row
						div(class="form-group col")
							label(for="inputQuantity") Part Number
							input(type="text" name="partNum" class="form-control no-login-input" placeholder="Part Number")
						div(class="form-group col")
							label(for="inputQuantity") Location
							input(type="text" class="form-control no-login-input" name="loc" placeholder="Location")
		table(class="table table-sm")
			thead
				tr
					th Part Name
					th Category
					th Sub-Category
					th Value
					th Part #
					th Location
					th Qty.
					th # Checked Out
					th Notes
			tbody(id='search-table-body')
	div( class="container" id="check-out-container" style="display:none")
		if user
			div(class="modal fade" id="qtyModal")
				div(id="checkOutStorePart" value="" style="display:none")
				div(class="modal-dialog")
					div(class="modal-content")
						div(class="modal-header")
							h4(class="modal-title") Select amount to check Out
							button(type="button" class="close" data-dismiss="modal")
						form(id="quantity-form")
							div(class="form-group col")
								label(for="amountToCheck") Quantity
								input(type="number" name="amountToCheckOut" class="form-control" placeholder="Quantity" data-toggle="tooltip" data-placement="top")
						div(class="form-row")
							label(for="addQty")
							button(id="addQty" type="button" class="m-3 btn btn-primary") Add
		if user
			h4 1. Enter name of the person checking out
			form(id="add-check-out-form" class="mb-3")
				#input-row.form-row
					div(class="form-group col")
						label(for="fname") First Name
						input(type="text" name="fname" class="form-control" placeholder="First Name" data-toggle="tooltip" data-placement="top")
					div(class="form-group col")
						label(for="lname") Last Name
						input(type="text" name="lname" class="form-control" placeholder="Last Name")
					div(class="form-group col")
						label(for="dNum") Dot Number
						input(type="number" name="dNum" class="form-control" placeholder="Dot #")
					div(class="form-group col")
						label(for="fNum") Form Number
						input(type="number" name="fNum" class="form-control" placeholder="Form #")
					div(class="form-group col")
						label(for="dateDue") Date Due
						input(type="date" name="dateDue" class="form-control" placeholder="Date Due" data-toggle="tooltip" data-placement="top" title="Makeathon Due: 3/4/2018")
			h4 2. Search for Parts, and add them by clicking
			form(id="check-out-search-form" class="mb-3")
				#input-row.form-row
					div(class="form-group col")
						label(for="partName") Part Name
						input(type="text" id="check-out-partName" name="partName" class="form-control" placeholder="Partname")
					div(class="form-group col")
						label(for="category") Category
						input(type="text" id="check-out-cat" name="cat" class="form-control" placeholder="Category" data-toggle="tooltip" data-placement="top" title="Consumable/IC/MC    Equipment/Sensor/Display  Office Supplies/Other")
					div(class="form-group col")
						label(for="inputQuantity") Sub-Category
						input(type="text" id="check-out-subCat" name="subCat" class="form-control" placeholder="Sub-category")
					div(class="form-group col")
						label(for="value") Value
						input(type="text" id="check-out-val" name="val" class="form-control" placeholder="Value")
				#input-row.form-row
					div(class="form-group col")
						label(for="inputQuantity") Part Number
						input(type="text" id="check-out-partNum" name="partNum" class="form-control" placeholder="Part Number")
					div(class="form-group col")
						label(for="inputQuantity") Location
						input(type="text" id="check-out-loc" class="form-control" name="loc" placeholder="Location")
			h6 Search Results
			table(class="table table-sm")
				thead
					tr
						th Part Name
						th Category
						th Sub-Category
						th Value
						th Part #
						th Location
						th Qty.
						th # Checked Out
						th Notes
						th # To Check Out
				tbody(id='check-out-search-body')
			h4 Current Check Out Cart
			table(class="table table-sm")
				thead
					tr
						th Part Name
						th Category
						th Sub-Category
						th Value
						th Part #
						th Location
						th Qty.
						th # Checked Out
						th Notes
						th # To Check Out
				tbody(id='current-check-out')
			h4 3. Once satisfied click below to finalize.
			div(class="form-row")
					button(id="addCheckOutButton" type="button" class="btn btn-primary") Add Check Out
		if !user
			h5(class="my-2") Enter Your Name and Dot Number to see your current check out.
			form(id="check-check-out-form" class="mb-3")
				#input-row.form-row
					div(class="form-group col")
						label(for="lname") Last Name
						input(type="text" name="lname" class="form-control" placeholder="Last Name")
					div(class="form-group col")
						label(for="dNum") Dot #
						input(type="number" name="dNum" class="form-control" placeholder="Dot #")
				div(class="form-row")
					button(id="check-check-out-button" type="button" class="btn btn-primary") Search
			div(id='your-check-out')
		if user
			h3(class="my-2") All Checkouts
				h5 (Hitting a plus on a checkout will add the current check-out to it)
				form(id="filter-checkouts")
					#input-row.form-row
						div(class="form-group col")
							label(for="fname") First Name
							input(type="text" name="fname" class="form-control filter" placeholder="First Name")
						div(class="form-group col")
							label(for="lname") Last Name
							input(type="text" name="lname" class="form-control filter" placeholder="Last Name")
						div(class="form-group col")
							label(for="dNum") Dot #
							input(type="number" name="dNum" class="form-control filter" placeholder="Dot #")
						div(class="form-group col")
							label(for="fNum") Form Number
							input(type="number" name="fNum" class="form-control filter" placeholder="Form #")
			div(id="all-checkouts-container")
	//- Mustache JS Templates
	script(id="result-row-template" type="template")
		tr(class="result-row" value="{{value}}")
			td {{partName}}
			td {{cat}}
			td {{subCat}}
			td {{val}}
			td {{partName}}
			td {{loc}}
			td {{qty}}
			td {{amountCheckedOut}}
			td {{notes}}
	script(id="checkout-table-template" type="template")
		table(class="table table-sm check-out-table" _id="{{_id}}")
			thead
				tr
					th {{fname}} {{lname}}
					th Dot# {{dNum}}
					th Due on {{dateDue}}
			tbody
	script(id="checkout-entry-template" type="template")
		tr(class="checked-out-part")
			td {{amountToCheckOut}}
			td {{partName}}
			td {{partNum}}
			td {{val}}
	//- Mustache JS Templates that only are available for admin.js
	if user
		script(id="admin-row-template" type="template")
			tr(class="{{optClass}}" value="{{value}}")
				td {{partName}}
				td {{cat}}
				td {{subCat}}
				td {{val}}
				td {{partNum}}
				td {{loc}}
				td {{qty}}
				td {{amountCheckedOut}}
				td {{notes}}
		script(id="admin-checkout-table-template" type="template")
			table(class="table table-sm check-out-table" value="{{_id}}" fNum="{{fNum}}" dNum="{{dNum}}" fname="{{fname}}" lname="{{lname}}")
				thead
					tr
				tbody
		script(id="admin-checkout-table-heading-template" type="template")
			th {{fname}} {{lname}}
			th Dot # {{dNum}}
			th Form # {{fNum}}
			th Due on dateDue
			td 
				img(class='plus-box' src='/images/plus.png')
				img(class='check-box-all' src='/images/check.png')
		script(id="admin-checkout-entry" type="template")
			tr(class="checked-out-part" value='{{_id}}')
				td {{amountToCheckOut}}
				td {{partName}}
				td {{partName}}
				td {{partNum}}
				td {{val}}
				td {{loc}}
				//- UNESCAPED HTML
				td {{{check_part}}} 