div(class="modal" id="reset-password-modal")
    //- When you click on the part in the search results, its information is stored here to be used later.
    div(id="new-password-token" value=token)
    div(id="new-password-userID" value=userID)
    div(class="modal-dialog")
        div(class="modal-content")
            if valid_reset_link
                div(class="modal-header")
                    h4(class="modal-title") Please enter a new password for this account.
                form(id="reset-password-form" class='m-3')
                    #input-row.form-row
                        div(class="form-group col")
                            label(for="email") New Password
                            input(type="password" id="newPassword" name="newPassword" minlength="8" class="form-control new-password-match" placeholder="Password" required)
                    #input-row.form-row
                        div(class="form-group col")
                            label(for="email") Confirm Password
                            input(type="password" id="newPasswordConfirm" name="newPasswordConfirm" class="form-control new-password-match" placeholder="Confirm Password" required)
                    div(class="form-row")
                        label(for="submit-new-password")
                        button(id="submit-new-password" type="submit" class="m-3 btn btn-primary") Save
            else
                div(class="modal-header")
                    h4(class="modal-title") This link is invalid.