body {
  padding: 50px;
}

a {
  color: #00B7FF;
}
.id_col {
	display:none;
}
.header-row{
	border-style: solid;
}
.hide-overflow{
	overflow:hidden;
}
.hide-overflow:hover{
	overflow:visible;
	height:auto;
}
.check-box-all,.check-box-part,.plus-box{
	cursor:pointer;
	padding:5px;
	margin-left:10px;
	margin-right:10px;
}
